{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}
<div class="ui basic segment" >
    <div v-if="!landed">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">{{loading}}</div>
        </div>
    </div>
    <div style="display: none;" id="afterLanding">
        <div class="ui container" v-if="error">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error }}
                </div>
            </div>
        </div>

        <div class="ui container" v-if="message">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        </div>
        <div class="ui header">
            <div class="ui large breadcrumb">
                <div class="active section">Branches</div>
            </div>
        </div>
        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui basic segment">
                    <button class="ui mini primary  button" @click="showCreateBranch" :class="{loading: branchLoading, disabled: branchLoading}">Create</button>
                    <div class="ui middle aligned selection relaxed list">
                        <a class="item" v-for="branch in branches" :href="'/branch_details/'+branch.id">
                            <div class="content">
                                <div class="header">
                                    {{branch.name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui mini modal" id="branchModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Branch
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="branch" />
            <input type="hidden" name="id"/>
            <div class="required field">
                <label>Name of Branch</label>
                <input type="text" name="name" placeholder="Branch Name"/>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

{% endraw %}
{% endblock %}

{% block script %}
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin_actions.js') }}"></script>
{% endblock%}