{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}
    
    <h2 class="ui header">{{ heading }}</h2>

    <div class="ui container">
        <div class="sub header">
            <button class="ui compact mini icon button" v-on:click="previousDay">
                <i class="chevron left icon" ></i>
            </button>
            {{ currentAttendanceDate }}
            <button class="ui compact mini icon button" v-on:click="nextDay" v-bind:class="{ disabled: nextIsFuture }">
                <i class="chevron right icon"></i>
            </button>
            <button class="ui mini primary right floated button" v-if="is_admin">Edit Mode</button>
        </div>
    </div>
    
    <div class="ui container">

        <div class="ui container" v-if="error">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error }}
                </div>
            </div>
        </div>

        <div class="ui container" v-if="message">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        </div>

        <div class="ui segment" v-if="loading">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">{{ loading }}</div>
            </div>
            <p><br/><br/><br/><br/></p>
        </div>

        <div class="ui container">
        <table class="ui compact striped table" v-if="!loading && students.length > 0">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Contact</th>
                    <th>Punch In</th>
                    <th>Punch Out</th>
                    <th>Comment (Optional)</th>
                    <th v-if="!viewOnly">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="student in students">
                    <td>{{student.category}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{moment(student.dob).fromNow(true)}}</td>
                    <td>{{student.contact || 'No contact info'}}</td>
                    <td>
                        <p v-if="student.in" >{{ getTimeString(student.in) }}</p>
                        <p v-else>No punch in record</p>
                    </td>
                    <td>
                        <p v-if="student.out" >{{ getTimeString(student.out) }}</p>
                        <p v-else>No punch out record</p>
                    </td>
                    <td>
                        <div class="ui input" v-if="!viewOnly" v-bind:class="{ disabled: !student.in || student.out}">
                            <input type="text" placeholder="Comments.." v-model="student.comment" v-on:change="saveAttendaceData(student,'comment')">
                        </div>
                        <p v-if="viewOnly && student.comment">{{ student.comment }}</p>
                    </td>
                    <td v-if="!viewOnly">
                        <div class="extra">
                            <div class="compact mini ui buttons">
                                <button class="ui left attached button" v-on:click="saveAttendaceData(student,'in')" v-bind:class="[ student.in ? 'disabled' : '' ]">Punch in</button>
                                <button class="ui right attached button" v-on:click="saveAttendaceData(student,'out')" v-bind:class="[ student.out ? 'disabled' : '', student.in ? '' : 'disabled' ]">Punch out</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/attendance.js') }}"></script>
{% endblock %}