{% extends 'lbase.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attendance.css')}}">
{% endblock %}

{% block bodywh %}
{% raw %}

<h2 class="ui header">{{ heading }}</h2>

<div class="ui container">
    <div class="sub header">
        <div class="ui mini icon buttons">
            <button class="ui mini icon button" v-on:click="previousDay">
                <i class="chevron left icon" ></i>
            </button>
            
            <div class="ui calendar" id="attendanceDate">
                <button class="ui mini icon button">{{ currentAttendanceDate }}</button>
                <!-- Hack to make the above button's right side flat -->
                <button style="display: none;"></button>

            </div>
            <button class="ui mini icon button" v-on:click="nextDay" v-bind:class="{ disabled: nextIsFuture }">
                <i class="chevron right icon"></i>
            </button>
        </div>
        <button class="ui mini right floated button" v-if="is_admin" @click="toggleEditMode" v-bind:class="[editMode? 'positive' : 'primary']">{{editModeBtnText}}</button>
    </div>
</div>

<div class="ui container">

    <div class="ui container" v-if="error">
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                {{ error }}
            </div>
        </div>
    </div>

    <div class="ui container" v-if="message">
        <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
                {{ message }}
            </div>
        </div>
    </div>

    <div class="ui segment" v-if="loading">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{ loading }}</div>
        </div>
        <p><br/><br/><br/><br/></p>
    </div>

    <div class="ui container">
        <div class="ui form">

            <div class="fields">
                <div class="field">
                    <label>Category</label>
                    <select multiple="" class="ui dropdown" v-model="categoryFilter">
                        <option value="">All</option>
                        <option v-for="cat in categories" v-bind:value="cat">{{cat}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Branch</label>
                    <select multiple="" class="ui dropdown" v-model="branchFilter">
                        <option value="">All</option>
                        <option v-for="branch in branches" v-bind:value="branch">{{branch}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div v-if="!loading && students.length > 0">
            <table class="ui compact sortable striped table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Contact</th>
                        <th>Punch In</th>
                        <th>Punch Out</th>
                        <th>Comment (Optional)</th>
                        <th v-if="!editMode && !viewOnly">Action</th>
                    </tr>
                </thead>
                <tbody v-if="editMode">
                    <tr v-for="student in filteredStudents">
                        <td>{{student.category}}</td>
                        <td>{{student.student_id}}</td>
                        <td :data-sort-value="student.name.toLowerCase()">{{student.name}}</td>
                        <td :data-sort-value="moment(student.dob).valueOf()">{{moment(student.dob).fromNow(true)}}</td>
                        <td>{{student.contact}}</td>
                        <td>
                            <div class="ui mini input" v-bind:class="{error: student.inerror}">
                                <input type="text" placeholder="Punch In" v-model="student.in" v-on:change="savePunchIn(student)" >
                            </div>
                            <p class="smallerror" v-if="student.inerror">{{student.inerror}}</p>
                        </td>
                        <td>
                            <div class="ui mini input" v-bind:class="{error: student.outerror, disabled: !student.in && !student.out }">
                                <input type="text" placeholder="Punch Out" v-model="student.out" v-on:change="savePunchOut(student)" :tabindex="student.in || student.out ? 0 :-1" />
                            </div>
                            <p class="smallerror" v-if="student.outerror">{{student.outerror}}</p>
                        </td>
                        <td>
                            <div class="ui mini input" v-bind:class="{disabled: !student.in && !student.comment}">
                                <input type="text"  placeholder="Comments.." v-model="student.comment" v-on:change="saveComment(student)" :tabindex="student.in || student.comment ? 0 :-1" >
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="student in filteredStudents">
                        <td>{{student.category}}</td>
                        <td>{{student.student_id}}</td>
                        <td :data-sort-value="student.name.toLowerCase()">{{student.name}}</td>
                        <td :data-sort-value="moment(student.dob).valueOf()">{{moment(student.dob).fromNow(true)}}</td>
                        <td>{{student.contact}}</td>
                        <td>
                            <div v-if="student.in">
                                <p>{{ getTimeString(student.in) }}</p>
                                <p class="small faded text" v-if="student.inby">By {{ student.inby.name }}</p>
                            </div>
                        </td>
                        <td>
                            <div v-if="student.out" >
                                <p>{{ getTimeString(student.out) }}</p>
                                <p class="small faded text" v-if="student.outby">By {{ student.outby.name }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="ui mini input" v-if="!viewOnly" v-bind:class="{ disabled: !student.in || student.out}">
                                <input type="text" placeholder="Comments.." v-model="student.comment" v-on:change="saveComment(student,'comment')">
                            </div>
                            <p v-if="viewOnly && student.comment">{{ student.comment }}</p>
                        </td>
                        <td v-if="!viewOnly">
                            <div class="compact mini ui buttons">
                                <button class="ui left attached button" v-on:click="savePunchIn(student)" v-bind:class="[ student.in ? 'disabled' : '' ]">Punch in</button>
                                <button class="ui right attached button" v-on:click="savePunchOut(student)" v-bind:class="[ student.out ? 'disabled' : '', student.in ? '' : 'disabled' ]">Punch out</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endraw %}
    {% endblock %}

    {% block script %}
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/attendance.js') }}"></script>
    {% endblock %}