<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SemanticUI CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">

  <link rel="icon" href="static/favicon.ico" type="image/gif" sizes="48x48">

  <title>Phoenix</title>

  {% block style%}
  {% endblock%}
</head>
<body>
  
    {% block body %}
    {% endblock %}
  

  {% block footer %}
  <footer class="ui secondary inverted vertical footer segment">
    <div class="ui secondary inverted right aligned basic text segment">
      By accessing this website and any pages thereof, you agree to be bound by the <a href="https://sites.google.com/site/brssihome/disclaimer">Terms Of Use</a>
    </div>
  </footer>

  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.6/vue-resource.min.js"></script>
  <script src="https://unpkg.com/vue-toasted"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.5.0/cloudinary-core.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cloudinary-plugin.js') }}"></script>
  {% block script%}
  {% endblock %}
</body>
</html>