{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}
<div class="ui basic segment" >
    <div v-if="!landed">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">Loading...</div>
        </div>
    </div>
    <div style="display: none;" id="afterLanding">
        <div class="ui header">
            <div class="ui massive breadcrumb">
                <a class="section" href="/adminactions">Branches</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{branch.name}}</div>
            </div>
        </div>
        <div class="ui basic segment">
        <button @click="showUpdateBranch" :class="{disabled:branchLoading, loading:branchLoading}" class="ui mini compact primary button">Update Branch</button>
        </div>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui basic segment">
                    <div class="ui big header">Categories</div>

                    <button class="ui mini primary button" @click="showCreateCategory" :class="{loading: categoryLoading, disabled: categoryLoading}">Create</button>
                    <div class="ui middle aligned selection very relaxed list">
                        <div class="item" v-for="cat in categories" @click="showUpdateCategory(cat)">
                            <div class="content">
                                <div class="header">{{cat.name}}</div>
                                <div class="description">
                                    {{getSubjectNames(cat.subjects)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui basic segment">
                    <div class="ui medium header">Subjects</div>
                    
                    <button class="ui mini primary button" @click="showCreateSubject" :class="{loading: subjectLoading, disabled: subjectLoading}">Create</button>
                    <div class="ui middle aligned selection relaxed list">
                        <div class="item" v-for="sub in subjects" @click="showUpdateSubject(sub)">
                            <div class="content">
                                <div class="header">
                                    {{sub.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui basic segment">
                    <div class="ui medium header">Examinations</div>

                    <button class="ui mini primary button" @click="showCreateExam" :class="{loading: examLoading, disabled: examLoading}">Create</button>
                    <div class="ui middle aligned selection relaxed list">
                        <a class="item" :href="'/exams_details/'+branch.id+'/'+exam.id" v-for="exam in exams">
                            <div class="content">
                                <div class="header">
                                    {{exam.name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui mini modal" id="catModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Category
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="category"/>
            <input type="hidden" name="id" value=""/>
            <div class="required field">
                <label>Name of Category</label>
                <input type="text" name="name" placeholder="Category Name" />
            </div>
            <div class="grouped fields">
                <label>Select Subjects</label>
                <div class="field" v-for="sub in subjects">
                    <div class="ui checkbox">
                        <input name="subjects[]" type="checkbox" tabindex="0" class="hidden" :value="sub.id">
                        <label>{{sub.name}}</label>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="branchModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Branch
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="branch" />
            <input type="hidden" name="id"/>
            <div class="required field">
                <label>Name of Branch</label>
                <input type="text" name="name" placeholder="Branch Name"/>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="subjectModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Subject
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="subject" />
            <input type="hidden" name="id"/>
            <div class="required field">
                <label>Name of Subject</label>
                <input type="text" name="name" placeholder="Subject Name"/>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="examModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Exam
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="exam"/>
            <input type="hidden" name="id"/>
            <div class="required field">
                <label>Name of Exam</label>
                <input type="text" name="name" placeholder="Mid-Term Exam 2018" />
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    var branchid = {{branchid}}
</script>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/branch_details.js') }}"></script>
{% endblock%}