{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}
<div class="ui basic segment">
    <div v-if="!landed">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">Loading...</div>
        </div>
    </div>
    <div style="display: none;" id="afterLanding">
        <div class="ui header">
            <div class="ui large breadcrumb">
                <a class="section" href="/adminactions">Branches</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{branch.name}}</div>
            </div>
        </div>
        <div class="ui basic segment">
            <button @click="showUpdateBranch" :class="{disabled:branchLoading, loading:branchLoading}" class="ui mini compact primary button">Update
                Branch</button>
        </div>
        <div class="ui stackable grid">
            <div class="ui row">
                <div class="ui four wide column">
                    <div class="ui secondary vertical pointing menu ">
                        <a v-for="item in items" class="item" :class="{active: active_item.index == item.index}" @click="set_active_item(item)">
                            {{item.name}}
                        </a>
                    </div>
                </div>
                <div class="ui one wide column"></div>
                <div class="ui eleven wide column">
                    <div class="ui basic segment">
                        <h3 class="ui header">{{active_item.name}}</h3>

                        <div v-show="active_item.index == 1">
                            <!-- Categories -->
                            <button class="ui mini primary button" @click="showCreateCategory" :class="{loading: categoryLoading, disabled: categoryLoading}">Create</button>
                            <div class="ui middle aligned selection very relaxed list">
                                <div class="item" v-for="cat in categories" @click="showUpdateCategory(cat)">
                                    <div class="content">
                                        <div class="header">{{cat.name}}</div>
                                        <div class="description">
                                            {{getSubjectNames(cat.subjects)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="active_item.index == 2">
                            <!-- Subjects -->
                            <button class="ui mini primary button" @click="showCreateSubject" :class="{loading: subjectLoading, disabled: subjectLoading}">Create</button>
                            <div class="ui middle aligned selection relaxed list">
                                <div class="item" v-for="sub in subjects" @click="showUpdateSubject(sub)">
                                    <div class="content">
                                        <div class="header">
                                            {{sub.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="active_item.index == 3">
                            <!-- Examination -->
                            <button class="ui mini primary button" @click="showCreateExam" :class="{loading: examLoading, disabled: examLoading}">Create</button>
                            <div class="ui middle aligned selection relaxed list">
                                <a class="item" :href="'/exams_details/'+branch.id+'/'+exam.id" v-for="exam in exams">
                                    <div class="content">
                                        <div class="header">
                                            {{exam.name}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div v-show="active_item.index == 4">
                            <!-- Grades -->
                            <button class="ui mini primary button" @click="showCreateModal('gradeModal')" :class="{loading: gradeLoading, disabled: gradeLoading}">Create</button>
                            <div class="ui middle aligned selection very relaxed list">
                                <div class="item" v-for="grade in grades" @click="showUpdateModal('gradeModal', grade)">
                                    <div class="content">
                                        <div class="header">{{grade.grade}} - {{grade.comment}}</div>
                                        <div class="description">
                                            {{grade.min}} - {{grade.max}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="active_item.index == 5">
                            <!-- Distribution Types-->
                            <button class="ui mini primary button"
                            @click="showCreateModal('distribution-type-modal')"
                            :class="{'loading disabled': distributionTypeLoading}">Create</button>
                            <div class="ui middle aligned selection very relaxed list">
                                <div class="item" v-for="item in distributionTypes" @click="showUpdateModal('distribution-type-modal', item)">
                                    <div class="content">
                                        <div class="header">{{item.name}}</div>
                                        <div class="description">
                                            {{item.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="active_item.index == 6">
                            <!-- Distribution Item Types-->
                            <button class="ui mini primary button" @click="showCreateModal('distribution-item-type-modal')"
                                :class="{'loading disabled': distributionItemTypeLoading}">Create</button>
                            <div class="ui middle aligned selection very relaxed list">
                                <div class="item" v-for="item in distributionItemTypes" @click="showUpdateModal('distribution-item-type-modal',item)">
                                    <div class="content">
                                        <div class="header">{{item.name}} - {{item.price}}</div>
                                        <div class="description">
                                            {{item.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="active_item.index == 7">
                            <!-- Distribution Items -->
                            <button class="ui mini primary button" @click="showCreateModal('distribution-item-modal')" :class="{'loading disabled': distributionItemLoading}">Create</button>
                            <div class="ui middle aligned selection very relaxed list">
                                <div class="item" v-for="item in distributionItems" @click="showUpdateModal('distribution-item-modal', item)">
                                    <div class="content">
                                        <div class="header">{{item.name}} - {{item.price}}</div>
                                        <div class="description">
                                            {{item.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui mini modal" id="catModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Category
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="category" />
            <input type="hidden" name="id" value="" />
            <div class="required field">
                <label>Name of Category</label>
                <input type="text" name="name" placeholder="Category Name" />
            </div>
            <div class="grouped fields">
                <label>Select Subjects</label>
                <div class="field" v-for="sub in subjects">
                    <div class="ui checkbox">
                        <input name="subjects[]" type="checkbox" tabindex="0" class="hidden" :value="sub.id">
                        <label>{{sub.name}}</label>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="branchModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Branch
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="branch" />
            <input type="hidden" name="id" />
            <div class="required field">
                <label>Name of Branch</label>
                <input type="text" name="name" placeholder="Branch Name" />
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="subjectModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Subject
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="subject" />
            <input type="hidden" name="id" />
            <div class="required field">
                <label>Name of Subject</label>
                <input type="text" name="name" placeholder="Subject Name" />
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="examModal">
    <div class="header">
        {{updateAction? "Update": "Create New"}} Exam
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="exam" />
            <input type="hidden" name="id" />
            <div class="required field">
                <label>Name of Exam</label>
                <input type="text" name="name" placeholder="Mid-Term Exam 2018" />
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui mini modal" id="gradeModal">
    <div class="header">
        {{is_update_action? "Update": "Create New"}} Grade
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="what" value="grade" />
            <input type="hidden" name="id" />
            <div class="required field">
                <label>Grade</label>
                <input type="text" name="grade" placeholder="A+" />
            </div>
            <div class="fields">
                <div class="required field">
                    <label>Min</label>
                    <input type="number" name="min" placeholder="40" />
                </div>
                <div class="required field">
                    <label>Max</label>
                    <input type="number" name="max" placeholder="10" />
                </div>
            </div>
            <div class="required field">
                <label>Comment</label>
                <input type="text" name="comment" placeholder="Excellent" />
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{is_update_action? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Distribution Type Create modal -->
<div class="ui mini modal" id="distribution-type-modal">
    <div class="ui header">
        Distribution Type
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="id" />
            <input type="hidden" name="what" value="dist_type" />
            <div class="required field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name of Distribution Type" />
            </div>
            <div class="required field">
                <label>Description</label>
                <textarea name="description" placeholder="Description" rows="2"></textarea>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction ? "Update" : "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Distribution Item Type Create modal -->
<div class="ui mini modal" id="distribution-item-type-modal">
    <div class="ui header">
        Distribution Item Type
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="id" />
            <input type="hidden" name="what" value="dist_item_type" />
            <div class="required field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name of Item Type" />
            </div>
            <div class="required field">
                <label>Description</label>
                <textarea name="description" placeholder="Description" rows="2"></textarea>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Distribution Item modal -->
<div class="ui mini modal" id="distribution-item-modal">
    <div class="ui header">
        Distribution Item
    </div>
    <div class="content">
        <div class="ui form">
            <input type="hidden" name="id" />
            <input type="hidden" name="what" value="dist_item" />
            <div class="required field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Item Name" />
            </div>
            <div class="required field">
                <label>Item Type</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="distribution_item_type"/>
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Item Type</div>
                    <div class="menu">
                        <div v-for="type in distributionItemTypes" class="item" :data-value="type.id">{{type.name}}</div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Unit Price</label>
                <input type="number" step=".01" name="price" placeholder="Price of one unit" />
            </div>
            <div class="required field">
                <label>Total Quantity</label>
                <input type="number" name="quantity" step="1" min="0" placeholder="Quantity" />
            </div>
            <div class="field">
                <label>Comments</label>
                <input type="text" name="comments" placeholder="Comments" />
            </div>
            
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{updateAction? "Update": "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    var branchid = {{branchid}}
</script>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
    rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/branch_details.js') }}"></script>
{% endblock%}