{% extends 'lbase.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/distribution.css')}}">
{% endblock %}

{% block bodywh %}
{% raw %}

<h2 class="ui header"></h2>

<div class="ui container">
    <div class="sub header">
    </div>
</div>

<div class="ui stackable grid">
    
</div>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/distribution.js') }}"></script>
{% endblock %}