{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}
<div class="ui basic segment">
    <div v-if="!landed">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">{{loading}}</div>
        </div>
    </div>
    <div style="display: none;" id="afterLanding">
        <div class="ui header">
            <div class="ui large breadcrumb">
                <a class="section" href="/adminactions">Branches</a>
                <i class="right chevron icon divider"></i>
                <a class="section" :href="'/branch_details/'+branchId">{{branch.name}}</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{exam.name}}</div>
            </div>
        </div>
        <div class="ui header">
            <button class="ui right floated red mini compact button" @click="showDeleteExam">Delete Exam</button>
            <button class="ui right mini compact primary button" @click="showCreateTest">Add test</button>
            <button class="ui right mini compact primary button" @click="showBatchCreateTest">Add batch test</button>
        </div>
        <h3>Tests</h3>
        <table class="ui compact selectable sortable table" v-if="tests.length">
            <thead>
                <tr>
                    <th>Test Code</th>
                    <th>Test Date</th>
                    <th>Max Marks</th>
                    <th>Category</th>
                    <th>Subject</th>
                    <th>Evaluator</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="test in tests">
                    <td>
                        <a @click.prevent="showUpdateTest(test.id)" href="">{{test.name}}</a>
                    </td>
                    <td :data-sort-value="test.date">{{moment(test.date,['DD?/MM/YYYY']).format('MMM DD, YYYY')}}</td>
                    <td>{{test.max_marks}}</td>
                    <td>{{getCategoryName(test.category)}}</td>
                    <td :data-sort-value="getSubjectName(test.subject).toLowerCase()">{{getSubjectName(test.subject)}}
                    </td>
                    <td :data-sort-value="test.evaluator ? getFacultyName(test.evaluator).toLowerCase():'Admin'">
                        {{test.evaluator?getFacultyName(test.evaluator):'Admin'}}</td>
                    <td>
                        {{test.students.length}} Students
                        <a href="#" @click.prevent="showStudentsUnderTest(test)">
                            <i class="ui info icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-else>
            <div class="ui info message">No Tests added yet</div>
        </div>
    </div>
</div>

<div class="ui modal" id="batchTestModal">
    <div class="header">Add Tests</div>
    <div class="content">
        <div class="ui equal width form">
            <input type="hidden" name="examId" :value="examId">
            <div class="required field">
                <label>Suffix</label>
                <input type="text" name="suffix" placeholder="T12019" />
            </div>
            <div class="required field">
                <label>Test Date</label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="date" placeholder="May 17, 2018">
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Max Marks</label>
                <input type="number" name="maxMarks" placeholder="60" />
            </div>
            <div class="required field">
                <label>Categories</label>
                <div class="ui selection multiple dropdown">
                    <input type="hidden" name="categories" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Categories</div>
                    <div class="menu">
                        <div class="item" :data-value="cat.id" v-for="cat in categories">{{cat.name}}</div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Subjects</label>
                <div class="ui selection multiple dropdown">
                    <input type="hidden" name="subjects" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Subjects</div>
                    <div class="menu">
                        <div class="item" :data-value="sub.id" v-for="sub in subjects">{{sub.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">Create</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<div class="ui modal" id="testModal">
    <div class="header">{{updateAction ? "Update" : "Add"}} Test</div>
    <div class="content">
        <div class="ui equal width form">
            <input type="hidden" name="examId" :value="examId">
            <input type="hidden" name="id">
            <div class="fields">
                <div class="required field" :class="{disabled: updateAction}">
                    <label>Test Code</label>
                    <input type="text" name="name" placeholder="TCA-PHY01" />
                </div>
                <div class="required field">
                    <label>Max Marks</label>
                    <input type="number" name="maxMarks" placeholder="60" />
                </div>
                <div class="required field">
                    <label>Test Date</label>
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="date" placeholder="May 17, 2018">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="required field">
                    <label>Category</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="category" v-on:change="categoryChanged" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Category</div>
                        <div class="menu">
                            <div class="item" :data-value="cat.id" v-for="cat in categories">{{cat.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>Subject</label>
                    <div class="ui selection dropdown" id="sub-dropdown">
                        <input type="hidden" name="subject" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Subject</div>
                        <div class="menu">
                            <div class="item" :data-value="sub" v-for="sub in catSubjects">{{getSubjectName(sub)}}</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Evaluator</label>
                    <div class="ui selection dropdown" id="fac-dropdown">
                        <input type="hidden" name="evaluator" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Faculty</div>
                        <div class="menu">
                            <div class="item" :data-value="fac.id" v-for="fac in faculties">{{fac.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui left floated negative button" @click="showDeleteTest" v-if="updateAction">Delete</button>
        <button class="ui positive button">{{updateAction ? "Update" : "Create"}}</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>
<div class="ui modal" id="studentsUnderTestModal">
    <div class="header">
        Students Appearing in {{studentsUnderTestModal.name}}
    </div>
    <div class="ui scrolling content">
        <table class="ui compact small table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="std in studentsUnderTestModal.students">
                    <td>{{std.student_id}}</td>
                    <td>{{std.name}}</td>
                    <td>{{std.age}}</td>
                    <td>{{getCategoryName(std.category)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="ui tiny modal" id="cnfModal">
    <div class="header">
        {{cnfModal.heading}}
    </div>
    <div class="content">
        {{cnfModal.content}}
    </div>
    <div class="actions">
        <button class="ui positive button">{{cnfModal.yes}}</button>
        <button class="ui negative button">{{cnfModal.no}}</button>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    var examid = {{ examid }}
    var branchid = {{ branchid }}
</script>
<link
    href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
    rel="stylesheet" type="text/css" />
<script
    src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exam_details.js') }}"></script>
{% endblock%}