{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}

<div class="ui basic segment" >
  <div v-if="!landed">
    <div class="ui active inverted dimmer">
      <div class="ui medium text loader">loading page...</div>
    </div>
  </div>
  <div style="display: none;" id="afterLanding">
    <h1>{{heading}}</h1>
  </div>
</div>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exam.js') }}"></script>
{% endblock%}