{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}

<div class="ui basic segment" >
    <div v-if="!landed">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">{{loading}}</div>
        </div>
    </div>
    <div style="display: none;" id="afterLanding">
        <div class="ui container" v-if="error">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error }}
                </div>
            </div>
        </div>

        <div class="ui container" v-if="message">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        </div>
        <div class="ui large header">
            {{heading}}
        </div>
        <div class="ui basic segment">
            <div class="ui form" id="testForm" :class="{loading: examLoading}">
                <div class="ui field">
                    <label>Branch</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="branch" v-on:change="onBranchChange"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Branch</div>
                        <div class="menu">
                            <div class="item" :data-value="branch.id" v-for="branch in branches">{{branch.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="ui fields" v-show="branch.id">
                    <div class="required field">
                        <label>Exams</label>
                        <div class="ui selection dropdown" id="examDropdown">
                            <input type="hidden" name="exam" v-on:change="onExamChange"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Exam</div>
                            <div class="menu">
                                <div class="item" :data-value="exam.id" v-for="exam in exams">{{exam.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Test Code</label>
                        <div class="ui selection dropdown" id="testDropdown"> 
                            <input type="hidden" name="test" v-on:change="onTestChange"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Test Code</div>
                            <div class="menu">
                                <div class="item" :data-value="test.id" v-for="test in tests">{{test.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui basic segment">
                <div class="ui inverted dimmer" :class="{active: marksLoading || deleteLoading}">
                    <div class="ui text loader">{{deleteLoading ? "Deleting marks..." : "Loading marks.."}}</div>
                </div>
                <template v-if="filteredStudents.length">
                    <button class="ui negative right floated mini button" @click.prevent="showDeleteMarks">Clear All Marks</button>
                    <p v-if="selectedTest">Max Marks: {{selectedTest.max_marks}}</p>
                    <table class="ui compact table" >
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Name</th>
                                <th>Marks Obtained</th>
                                <th>Percentage</th>
                                <th>Grade</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="std in filteredStudents">
                                <td>{{std.student_id}}</td>
                                <td>{{std.name}}</td>
                                <td>
                                    <div class="ui icon input" :class="[result[std.id] && result[std.id].marksSaving ? 'loading disabled' : '']">
                                        <input type="number" name="marks" v-on:change="setObtainedMarks(std.id, $event)" step="0.5" placeholder="Marks Scored" :disabled="!is_admin && selectedTest.evaluator != me.id" min="0" :max="selectedTest.max_marks" :value="getMarks(std.id)">
                                        <i class="ui icon"></i>
                                    </div>
                                </td>
                                <td>
                                    {{getPercentage(std.id)}}
                                </td>
                                <td>{{getGrade(std.id).grade}}</td>
                                <td>
                                    <div class="ui icon input" :class="[result[std.id] && result[std.id].commentSaving ? 'loading disabled' : '']">
                                        <input type="text" name="comment" value="" placeholder="Comment" :disabled="!is_admin && selectedTest.evaluator != me.id" :value="getComment(std.id)"/ v-on:change="setComments(std.id, $event)" :value="result[std.id].comment">
                                        <i class="ui icon"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
        </div>
    </div>
</div>
<div class="ui tiny modal" id="cnfModal">
    <div class="header">
        {{cnfModal.heading}}
    </div>
    <div class="content">
        {{cnfModal.content}}
    </div>
    <div class="actions">
        <button class="ui positive button">{{cnfModal.yes}}</button>
        <button class="ui negative button">{{cnfModal.no}}</button>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exam_center.js') }}"></script>
{% endblock%}