{% extends 'base.html' %}

{% block body %}
<div id="app" class="ui container">
    <div class="ui teal inverted top fixed stackable menu">
        <div class="header item">
            R.S Success Institute
        </div>
        <div class="ui dropdown item">
            Attendance
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item {%if page == 1%}active{%endif%}" href="/attendance">Students</a>
                <a class="item disabled">Faculties</a>
                <a class="item {%if page == 5%}active{%endif%}" href="/report">Reports</a>
            </div>
        </div>
        <a class="item {%if page == 2%}active{%endif%}" href="/students" v-if="is_admin">Students</a>
        <a class="item {%if page == 3%}active{%endif%}" href="/faculties" v-if="is_admin">Faculties</a>
        <a class="item {%if page == 4%}active{%endif%}" href="/me" >My Profile</a>
        <a class="item disabled">Exam Center</a>
        <div class="right menu">
            {%raw%}
            <div class="header item" v-if="name">
                <img class="ui avatar image" src="http://via.placeholder.com/35x35">
                <span>{{name}}</span>
            </div>
            {%endraw%}
            <a v-on:click="logout" class="item">Logout</a>
        </div>
    </div>
    {% block bodywh %}{% endblock %}
</div>
{% endblock%}
