{% extends 'base.html' %}

{% block body %}
<div class="ui top sidebar vertical menu">
    <div class="item">
        <div class="header">Attendance</div>
        <div class="menu">
            <a class="item {%if page == 1%}active{%endif%}" href="/attendance">Students</a>
            <a class="item disabled">Faculties</a>
        </div>
    </div>
    <a class="item {%if page == 2%}active{%endif%}" href="/students" v-if="is_admin">Students</a>
    <a class="item {%if page == 3%}active{%endif%}" href="/faculties" v-if="is_admin">Faculties</a>
    <a class="item {%if page == 4%}active{%endif%}" href="/me" >Profile</a>
    <div class="item">
        <div class="header">Exam</div>
        <div class="menu">
            <a class="item {%if page == 6%}active{%endif%}" href="/exam/marks" >Marks</a>
            <a class="item {%if page == 8%}active{%endif%}" href="/exam/result" >Result</a>
        </div>
    </div>
    <a class="item {%if page == 5%}active{%endif%}" href="/report" v-if="is_admin">Reports</a>
    <a class="item {%if page == 7%}active{%endif%}" href="/adminactions" v-if="is_admin">Admin</a>
    <a class="item {%if page == 8%}active{%endif%}" href="/distribution" v-if="is_admin">Distribution</a>

    <a v-on:click="logout" class="item">Logout</a>
</div>
<div class="pusher content">
    <div id="app">
        <div class="ui grid">
            <div class="ui sixteen wide mobile only column">
                <div class="ui secondary menu">
                    <div class="header item">
                        Phoenix
                    </div>
                    <div class="right menu">
                        <a class="item" @click.prevent="$('.sidebar').sidebar('toggle')"><i class="ui bars icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="computer tablet only column">
                <div class="ui teal inverted top fixed stackable menu">
                    <div class="header item">
                        Phoenix
                    </div>
                    <div class="ui dropdown item">
                        Attendance
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item {%if page == 1%}active{%endif%}" href="/attendance">Students</a>
                            <a class="item disabled">Faculties</a>
                        </div>
                    </div>
                    <a class="item {%if page == 2%}active{%endif%}" href="/students" v-if="is_admin">Students</a>
                    <a class="item {%if page == 3%}active{%endif%}" href="/faculties" v-if="is_admin">Faculties</a>
                    <div class="ui dropdown item">
                        Exam
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item {%if page == 6%}active{%endif%}" href="/exam/marks" >Marks</a>
                            <a class="item {%if page == 8%}active{%endif%}" href="/exam/result" >Result</a>
                        </div>
                    </div>
                    <a class="item {%if page == 5%}active{%endif%}" href="/report" v-if="is_admin">Reports</a>
                    <a class="item {%if page == 7%}active{%endif%}" href="/adminactions" v-if="is_admin">Admin</a>
                    <a class="item {%if page == 8%}active{%endif%}" href="/distribution" v-if="is_admin">Distribution</a>
                    
                    <div class="right menu">
                        {%raw%}
                        <a class="item {%if page == 4%}active{%endif%}" v-if="name" href="/me">
                            <img class="ui avatar image" :src="profile_image">
                            <span>{{name}}</span>
                        </a>
                        {%endraw%}
                        <a v-on:click="logout" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container">
            {% block bodywh %}{% endblock %}
        </div>
    </div>
</div>
{% endblock%}
