{% extends 'base.html' %}1

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
{% raw %}
<div id="app">
  <div id="header" class="ui center aligned teal inverted segment">
    <div class="ui container">
      <h1 class="ui white inverted header">RS Success Institute</h1>
      <p>Let's Grow Together.</p>
    </div>
  </div>
  <div id="logincontainer" class="ui container">
    <div class="ui center aligned grid">
      <div class="ui compact piled padded segment">
        <h2 class="ui teal image header ">
          <img src="/static/img/logo.jpg" class="image">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form id="loginForm" class="ui large form" v-on:submit.prevent="getToken">
          <div class="ui basic segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="E-mail address" required>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password" required>
              </div>
            </div>
            <div id="error-message" class="ui negative mini message" v-if="error">
              {{error}}
            </div>
            <button type="submit" id="login-btn" class="ui fluid large teal submit button" v-bind:class="{disabled:loading, loading:loading}">Login</button>
          </div>

        </form>
        <div class="ui message"><a href="#" @click="showForgotDialog">Forgot your password?</a></div>
      </div>
    </div>
  </div>
  <div id="forgotModal" class="ui mini modal">
    <i class="close icon"></i>
    <div class="header">Forgot Password</div>
    <div class="content">
      Please contact admin to reset your password
    </div>
    <div class="actions">
      <div class="ui positive button">OK</div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block script%}
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock%}