{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}

<div class="ui basic segment">
    <h2>Reports</h2>
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="ui header">Attendance Reports</h3>
            <div class="ui divided items">
                <div class="ui item">
                    <div class="middle aligned content">
                        Summary Report      
                    </div>
                    <div class="extras">
                        <button class="ui right aligned mini primary button" @click="showSummaryModal" :class="{loading: loading, disabled: loading}">Export</button>
                    </div>
                </div>
                <div class="ui item">
                    <div class="middle aligned content">Detail Report</div>
                    <div class="extras">
                        <button class="ui right aligned mini primary button" @click="showDetailModal" :class="{loading: loading, disabled: loading}">Export</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h3 class="ui header">Exam Reports</h3>
            <div class="ui divided items">
                <div class="ui item">
                    <div class="middle aligned content">
                        Detail Report      
                    </div>
                    <div class="extras">
                        <div class="ui right aligned mini primary button">Export</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal" id="summaryReportModal">
    <div class="header">
        Summary Report
    </div>
    <div class="content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown multiple" type="text" name="branches" v-model="selectedBranches" multiple>
                        <option value="">All Branches</option>
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Category</label>
                    <select class="dropdown multiple" name="cats" v-model="selectedCategories" multiple>
                        <option value="">All Categories</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Month</label>
                    <div class="ui calendar" id="summaryMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
            </div>
        </div>
        <p>{{selectedStudents.length || filteredStudents.length}} students selected</p>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="exportReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Detail Report Modal -->
<div class="ui large modal" id="detailReportModal">
    <div class="header">
        Detail Report
    </div>
    <div class=" scrolling content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown multiple" type="text" name="branches" v-model="selectedBranches" multiple>
                        <option value="">All Branches</option>
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Category</label>
                    <select class="dropdown multiple" name="cats" v-model="selectedCategories" multiple>
                        <option value="">All Categories</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="equal width fields">
                <div class="field">
                    <label>Start Date</label>
                    <div class="ui calendar" id="detailStartMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
                <div class="field">
                    <label>End Date</label>
                    <div class="ui calendar" id="detailEndMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
            </div>
        </div>
        <p>{{selectedStudents.length || filteredStudents.length}} students selected</p>
        <table class="ui stripped selectable sortable table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="student in filteredStudents" v-on:click="toggleStudentSelection(student)" :class="{positive: selectedStudents.indexOf(student) != -1 }">
                    <td>{{getCategoryName(student.category)}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{getBranchName(student.branch)}}</td>
                    <td>{{student.active ? "Active": "Inactive"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="exportReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock%}