{% extends 'lbase.html' %}

{% block bodywh %}
{% raw %}

<div class="ui basic segment">
    <h2>Reports</h2>
    
    <div class="ui segment">
        <h3 class="ui header">Attendance Reports</h3>
        <div class="ui divided items">
            <div class="ui item">
                <div class="middle aligned content">
                    <h4 class="ui header">Summary Report</h4>
                    <div class="meta">
                        <span>Monthly report of Attendance for all or selected Category and Branch</span>
                    </div>
                </div>
                <div class="extras">
                    <button class="ui right aligned mini primary button" @click="showAttendanceModal" :class="{loading: loading, disabled: loading}">Export</button>
                </div>
            </div>
            <div class="ui item">
                <div class="middle aligned content">
                    <h4 class="ui header">Detail Report</h4>
                    <div class="meta">
                        <span>Attendance report for selected start and end data for selected Students or Category or Branch</span>
                    </div>
                </div>
                <div class="extras">
                    <button class="ui right aligned mini primary button" @click="showDetailedAttendanceModal" :class="{loading: loading, disabled: loading}">Export</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h3 class="ui header">Exam Reports</h3>
        <div class="ui divided items">
            <div class="ui item">
                <div class="middle aligned content">
                    <h4 class="ui header">Detail Report</h4>
                    <div class="meta">
                        <span>Exam result reports</span>
                    </div>
                </div>
                <div class="extras">
                    <button class="ui right aligned mini primary button" @click="showResultModal" :class="{loading: loading, disabled: loading}">Export</button>
                </div>
            </div>
            <div class="ui item">
                <div class="middle aligned content">
                    <h4 class="ui header">Mark Sheets</h4>
                    <div class="meta">
                        <span>Genrate Marks sheet of students</span>
                    </div>
                </div>
                <div class="extras">
                    <button class="ui right aligned mini primary button" @click="showMarksSheetModal" :class="{loading: loading, disabled: loading}">Export</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mark Sheet Report Modal -->
<div class="ui small modal" id="marksheetModal">
    <div class="header">
        Exam Report
    </div>
    <div class="content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown" type="text" name="branche" v-model="selectedBranch">
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Exam</label>
                    <select class="dropdown" name="exam" v-model="selectedExam">
                        <option v-for="exam in exams" v-bind:value="exam.id">{{exam.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="requestMarksheetReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Result Detail Report Modal -->
<div class="ui small modal" id="resultModal">
    <div class="header">
        Exam Report
    </div>
    <div class="content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown" type="text" name="branche" v-model="selectedBranch">
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Exam</label>
                    <select class="dropdown" name="exam" v-model="selectedExam">
                        <option v-for="exam in exams" v-bind:value="exam.id">{{exam.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="requestExamReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Summary Report Modal -->
<div class="ui small modal" id="attendanceReportModal">
    <div class="header">
        Attendance Report
    </div>
    <div class="content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown multiple" type="text" name="branches" v-model="selectedBranches" multiple>
                        <option value="">All Branches</option>
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Category</label>
                    <select class="dropdown multiple" name="cats" v-model="selectedCategories" multiple>
                        <option value="">All Categories</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Month</label>
                    <div class="ui calendar" id="summaryMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
            </div>
        </div>
        <p>{{selectedStudents.length || filteredStudents.length}} students selected</p>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="requestAttendanceReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>

<!-- Detail Report Modal -->
<div class="ui large modal" id="detailedAttendaceModal">
    <div class="header">
        Detail Attendace Report
    </div>
    <div class=" scrolling content">
        <div class="ui form">
            <div class="equal width fields">
                <div class="field">
                    <label>Select Branch</label>
                    <select class="dropdown multiple" type="text" name="branches" v-model="selectedBranches" multiple>
                        <option value="">All Branches</option>
                        <option v-for="b in branches" v-bind:value="b.id">{{b.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Select Category</label>
                    <select class="dropdown multiple" name="cats" v-model="selectedCategories" multiple>
                        <option value="">All Categories</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="equal width fields">
                <div class="field">
                    <label>Start Date</label>
                    <div class="ui calendar" id="detailStartMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
                <div class="field">
                    <label>End Date</label>
                    <div class="ui calendar" id="detailEndMonth">
                        <input type="text" v-bind:placeholder="moment().format('MMMM YYYY')" name="month"/>
                    </div>
                </div>
            </div>
        </div>
        <p>{{selectedStudents.length || filteredStudents.length}} students selected</p>
        <table class="ui stripped selectable sortable table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="student in filteredStudents" v-on:click="toggleStudentSelection(student)" :class="{positive: selectedStudents.indexOf(student) != -1 }">
                    <td>{{getCategoryName(student.category)}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{getBranchName(student.branch)}}</td>
                    <td>{{student.active ? "Active": "Inactive"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <button class="ui positive button" @click.prevent="requestAttendanceReport">Run</button>
        <button class="ui negative button">Cancel</button>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock%}