{% extends 'lbase.html' %}


{% block bodywh %}
{%raw%}
<!-- Model add student -->
<h2 class="ui header">{{ heading }}</h2>

<div class="ui container">
    <div class="ui container" v-show="error">
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                {{ error }}
            </div>
        </div>
    </div>

    <div class="ui container" v-show="message">
        <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
                {{ message }}
            </div>
        </div>
    </div>

    <div class="ui segment" v-show="loading">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{ loading }}</div>
        </div>
        <p><br/><br/><br/><br/></p>
    </div>
    <div class="ui basic segment">
        <button @click.prevent="showImportModal" class="ui small primary button">Import Students</button>

        <button @click.prevent="updateStudent(-1)" class="ui small primary button">Add Student</button>
    </div>
    <div class="ui basic segment">
        <div class="ui form">
            <!-- if import button moved to be direct child of segment it wont receive the click action -->
            
            <div class="ui stackab;e fields">
                <div class="field">
                    <label>Branch</label>
                    <select multiple="" class="dropdown" v-model="branchFilter">
                        <option value="">All</option>
                        <option v-for="branch in branches" v-bind:value="branch.id">{{branch.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Category</label>
                    <select multiple="" class="dropdown" v-model="categoryFilter">
                        <option value="">All</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Status</label>
                    <select class="dropdown" v-model="statusFilter">
                        <option value="">All</option>
                        <option value="all">All</option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
                <div class="field">
                    <label>Search</label>
                    <div class="ui icon input">
                        <i class="search icon"></i>
                        <input class="prompt" type="text" placeholder="ID, Name or Email..." v-model="searchTxt">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <table id="table" class="ui compact sortable striped table" v-show="!loading">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Student ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Age</th>
                <th>Contact</th>
                <th>Status</th>
            </tr>
        </thead>
        <tr v-for="(student, index) in filteredStudents">
            <td>{{index + 1}}</td>
            <!-- clicking on a student will add its details to the below form and the add button will become update button -->
            <td>{{student.student_id}}</td>
            <td>{{getCategoryName(student.category)}}</td>
            <td :data-sort-value="student.name.toLowerCase()">
                <a href="#" @click.prevent="updateStudent(student.id)">{{student.name}}</a>
            </td>
            <td :data-sort-value="moment(student.dob).valueOf()">{{moment(student.dob).fromNow(true)}}</td>
            <td>{{student.contact}}</td>
            <td>{{student.active?"Active":"Inactive"}}</td>
        </tr>
    </table>
</div>
<div id="studentModal" class="ui modal">
    <div class="header">
        {{buttonText}} Student
    </div>
    <div class="content">
        <div id="addStudentForm" class="ui equal width form">
            <div class="fields">
                <input type="hidden" v-model="studentToUpdate.id"/>
                <div class="required field" v-bind:class="{disabled:isUpdate}">
                    <label>Student ID</label>
                    <input type="text" name="id" placeholder="Student ID" v-model="studentToUpdate.student_id">
                </div>
                <div class="required field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name" v-model="studentToUpdate.name">
                </div>
                <div class="required field">
                    <label>Date of Birth</label>
                    <input type="date" name="dob" placeholder="Date of Birth" v-model="studentToUpdate.dob">
                </div>
            </div>
            <div class="fields">
                <div class="required field">
                    <label>Category</label>
                    <select name="category" class="dropdown" v-model="studentToUpdate.category">
                        <option value="">Select Category</option>
                        <option v-for="cat in categories" v-bind:value="cat.id" >{{cat.name}}</option>
                    </select>
                </div>
                <div class="required field">
                    <label>Branch</label>
                    <select name="branch" class="dropdown" v-model="studentToUpdate.branch">
                        <option value="">Select Branch</option>
                        <option v-for="branch in branches" v-bind:value="branch.id" >{{branch.name}}</option>
                    </select>
                </div>
                <div class="required field">
                    <label>Contact</label>
                    <input type="text" name="contact" placeholder="Contact Number" v-model="studentToUpdate.contact" maxlength="10">
                </div>
            </div>
            <div class="ui error message">
                 <div class="header">Errors</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">{{buttonText}}</button>
        <!-- <button class="ui negative right floated button" v-on:click="deleteStudent(studentToUpdate)" v-if="isUpdate" v-bind:class="{disabled:loading}">Delete</button> -->
        <button class="ui neutral button" v-on:click.prevent="resetStudent" >Clear</button>
        <button class="ui negative button">Close</button>
    </div>
</div>

<div id="importModal" class="ui large modal">
    <i class="close icon"></i>
    <div class="header">
        Import Students
    </div>
    <div class="scrolling content">
        <div class="ui center align form">
            <div class="inline fields">
                <div class="field">
                    <input type="file" accept=".xlsx, .xls, .csv" class="ui input" @change="importFile = event.target.files[0]"/>
                </div>
                <div class="field">
                    <button class="ui primary button" v-on:click="importStudents" v-bind:class="{disabled:!importFile}">Load</button>
                </div>
                <div class="field">
                    <p>{{importSummary}}</p>
                </div>
            </div>
        </div>

        <div v-if="importing">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Reading file...</div>
            </div>
            <p><br/><br/><br/></p>
        </div>

        <div v-if="imported">
            <table class="ui compact striped table" v-if="loadedStudents.length > 0">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="student in loadedStudents" v-bind:class="[student.added?'positive':'warning']">
                        <td >{{student.student_id}}</td>
                        <td>{{getCategoryName(student.category)}}</td>
                        <td>{{student.name}}</td>
                        <td>{{moment(student.dob).fromNow(true)}}</td>
                        <td>{{student.contact || 'No contact info'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui message" v-else>
                <p>No Students loaded</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button" @click.prevent="hideImportModal">Close</div>
    </div>
</div>

{%endraw%}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/students.js') }}"></script>
{% endblock%}